.row_radio_wrapper {
    position: relative;
    background: lightgrey;
}

.row_radio_input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.row_radio_label {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px;
    width: 60px;
}

.checked {
    background: #C03838FF;
}
.done_question{
    background: black;
}